
/*------Fonts-------*/

@font-face {
  font-family: 'PTSans-Caption';
  src: url('../fonts/PTSans-Caption.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSans-Caption.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PTSans-Caption.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PTSans-Caption.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSans-Caption.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PTSans-Caption.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
   font-family: 'PTSans-CaptionBold';
  src: url('../fonts/PTSans-CaptionBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PTSans-CaptionBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PTSans-CaptionBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSans-CaptionBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PTSans-CaptionBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GothamPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GothamPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PTSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PTSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PTSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/OpenSans-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*------Specification-------*/

body {
	padding: 0;
	margin: 0;
	color: #000;
	font-family: 'PTSans-Regular', sans-serif;
}

div, p, form, input, a, span,button, textarea {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	letter-spacing: 0em;
	font-family: 'PTSans-Regular', sans-serif;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
  font-family: 'PTSans-CaptionBold', sans-serif;
}

a, button {
	transition: all 0.3s ease;
	font-family: 'PTSans-Regular', sans-serif;
} 

a {
  color: #17437F;
	text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
	line-height: 1.5em;
	letter-spacing: 0em;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-family: 'PTSans-Caption', sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 54px;
}

h1 {
  font-size: 48px;
}

h2 {
	font-size: 47px;
}

h3 {
  font-size: 40px;
}

h4 {
	font-size: 25px;
	color: #000;
}

h5 {
  font-size: 10px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

h6 {
	font-size: 10px;
	color: #000;
  text-transform: uppercase;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
{
  outline: none;
}

input, a, textarea {
	border: 0;
	outline: none;
}

.container-fluid {
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px !important;
}

/*------Index-------*/
/*------HEADER-------*/

.navigation {
  background: #fff;
  padding: 27px 0 50px;
  box-shadow: 0px 20px 173px 10px rgba(16,117,191,0.21);
  position: relative;
  z-index: 100;
}

.menu {
  margin-top: 23px;
}

.menu__logo {
  width: 157px;
}

.menu__link_logo {
  position: absolute;
  left: 46px;
  bottom: 38px;
}

.menu__link {
  font-family: 'PTSans-CaptionBold', sans-serif;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menu__link:hover {
  color: #000;
}

.bullet:before {
  color: #000;
  content:"\2022";
  font-size: 16px;
  font-weight: 700;
  left: -62px;
  line-height: 24px;        
  position: absolute;
  top: 0;
}

.menu__list {
  position: relative;
  z-index: 2;
}

.logo__text {
  display: none;
}

.slider__title {
  font-size: 55px;
}

.slider__img {
  width: 100%;
}

.slider__item {
  position: relative;
}

.circle {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 245px;
  height: 245px;
  background-color: #fff;
  left: -23px;
  top: -70px;
}

.slider__block {
  position: relative;
}

.slider__img, .slider__img-t, .slider__img-s {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.big-slider__text {
  line-height: 20px;
}

.slider__content {
  position: absolute;
  left: 50%;
  top: 16%;
  margin-left: -494px;
  width: 380px;
}

.slider__content-main {
  width: 497px;
  text-align: center;
  margin-left: -243px;
  top: 32%;
  position: absolute;
  left: 50%;
}

.big-slider__blue {
  color: #17437F;
}

.big-slider__text_first br {
  display: none;
}

.slider__text_two {
  margin-bottom: 15px;
}

.big-slider__text_two {
  width: 200px;
  margin: 15px auto 0;
  line-height: 1.7;
}

.slick-slide {
  outline: none;
}

.slick-prev, .slick-next {
  font-size: 16px;
  bottom: -54px;
  top: 100%;
  z-index: 2;
  color: #17437F;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.pluses {
  margin: 70px 0 30px;
}

.big-slider__link {
  width: 200px;
  background-color: #17437f;
  border-radius: 30px;
  color: #fff;
  padding: 14px 0;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-family: 'PTSans-Caption';
  margin-left: -8px;

}

.big-slider__link:hover {
  color: #fff;
}

body {
  background: rgba(237,242,250,1);
  background: -moz-linear-gradient(top, rgba(237,242,250,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,242,250,1)), color-stop(7%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,242,250,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,242,250,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,242,250,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,242,250,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2fa', endColorstr='#ffffff', GradientType=0 );
}

.wraper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f8fbff;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZTFmMGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQ3NCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(225, 240, 255)),color-stop(0.474, rgb(255, 255, 255)),color-stop(1, rgb(255, 255, 255)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top,rgb(225, 240, 255) 0%,rgb(255, 255, 255) 47.4%,rgb(255, 255, 255) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom,rgb(225, 240, 255) 0%,rgb(255, 255, 255) 47.4%,rgb(255, 255, 255) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(225, 240, 255) 0%,rgb(255, 255, 255) 47.4%,rgb(255, 255, 255) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe1f0ff",endColorstr="#ffffffff",GradientType=0);
  }
}

.slider__text {
  font-size: 18px;
  font-family: 'PTSans-Caption';
  color: #000;
  margin: 16px 0;
}

.border-rad {
  border-radius: 30px
}


.slick-dots li button:before {
  font-family: 'slick';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  text-align: center;
  opacity: 1;
  border: 2px solid #17437F;
  background: #fff;
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  background: #000;
  border: 2px solid #000;
}

.slick-dots li {
  width: 10px;
  height: 10px;
}

.menu-opened {
  background-color: #fff;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 0;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.hamburger-logo {
  width: 46px;
}

.menu__close {
  width: 24px;
  height: 24px;
  color: #285188;
  cursor: pointer;
  z-index: 99999;
  margin-left: auto;
  margin-top: 13px;
  margin-right: 13px;
}

.menu__close:before {
  content: "";
  width: 23px;
  height: 2px;
  background: #285188;
  border-radius: 0.125rem;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: center;
}

.menu__close:after {
  content: "";
  width: 23px;
  height: 2px;
  background: #285188;
  border-radius: 0.125rem;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: center;
}

.menu__item-hamburger {
  text-align: center;
  border-bottom: 1px solid #E6E6E6;
  color: #3f4b60;
  padding: 45px 0;
}

.menu__list-logo {
  border-bottom: 1px solid #E6E6E6;
  color: #3f4b60;
  align-items: center;
  padding: 35px 0 33px 15px;
}

.hamburger-link {
  margin-right: 18px;
}

.logo__text-hamburger {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  font-family: 'PTSans-Caption', sans-serif;
  font-weight: bold;
  letter-spacing: 0.14em;
  color: #000;
}

.menu__link-hamburger {
  font-size: 12px;
  font-family: 'PTSans-Caption', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.slick-dots {
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-radius: 30px;
  background: #fff;
  display: inline-flex;
  max-width: 100%;
  padding: 5px 16px;
  margin-left: -50px;
  list-style: none;
  text-align: center;
  width: auto;
  box-shadow: 0px 0px 83px 14px rgba(16,117,191,0.21);
}

.slick-next {
  right: 50%;
  margin-right: -61px;
} 

.slick-prev {
  left: 50%;
  margin-left: -49px;
}

.hamburger {
  vertical-align: middle;
  position: relative;
  height: 18px;
  align-items: center;
  border: none;
  background: transparent;
  display: none;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 5px;
}

.hamburger-bars, .hamburger-bars:before, .hamburger-bars:after {
    background: #285188;
    width: 20px;
    height: 2px;
    border-radius: 5px;
}

.hamburger-bars:before, .hamburger-bars:after {
  content: "";
  display: block;
  position: absolute;
}

.hamburger-bars:before {
  top: 0;
}

.hamburger-bars:after {
  bottom: 0;
}

.menu.menu-opened .menu__link {
  border-bottom: 1px solid rgba(255,255,255,0.6);
  font-size: 17px;
  color: #3f4b60;
}

.menu.menu-opened .menu__list {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
}

/*------PLUSES-------*/

.item__title {
  font-weight: bold;
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.2;
}

.item__text {
  font-size: 16px;
  line-height: 1.3;
}

.events__text {
  font-size: 16px;
  line-height: 1.3;
}

/*------NEWS-------*/

.news {
  margin-bottom: 30px;
}

.stock {
  padding-bottom: 80px;
}

.events__time {
  display: block;
  color: #00000057;
  margin: 5px 0;
}

.events {
  display: block;
  color: #000;
}

.events:hover {
  color: #000;
}

.news-title, .stock-title {
  margin-bottom: 10px;
}

/*------footer-------*/

.footer {
  padding: 69px 0 75px;
}

.signature:before {
  content: "";
  display: block;
  width: 97.5%;
  border-top: 1px solid #e5e6e8;
  left: 14px;
  top: -70px;
  position: absolute;
}

.fa-instagram, .fa-vk, .signature__link {
  color: #17437f;
}

.signature__text {
   font-size: 16px;
}

.signature__text br {
  display: none;
}

.signature__text span {
  margin: 0 2px;
}

.signature__social-instagram {
  margin-left: 5px;
}

.signature__wrap {
  margin-left: 20px;
}

/*------Excursion-------*/

.school img {
  width: 100%;
}

/*------Info-------*/

.header-ex:after {
  content: "";
  display: block;
  background: url(../img/bg.png) no-repeat center center;
  height: 102px;
  background-size: cover;
  margin-top: -86px;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  top: -68px;
}

.distributions {
  padding: 20px 0;
  margin-top: -78px;
}

.info {
  padding-top: 20px;
  margin-top: -78px;
}

.info-title, .distributions-title {
  position: absolute;
  top: -90px;
  z-index: 2;
}

.content__text {
  font-size: 18px;
}

.content__text_companies, {
  margin-bottom: 20px;
}

.content__text_age:before, .content__text_adult:before {
  content: "\2014";
  margin-right: 5px;
  position: absolute;
  left: 16px;
}

.content__text_age, .content__text_adult {
 padding-left: 30px;
 margin-bottom: 20px;
}

.slider-nav .slick-dots {
  display: none!important;
}

.slider-nav__img {
  margin: 15px 5px;
  opacity: 0.25;
  cursor: pointer;
}

.slick-current {
  opacity: 1;
}

.slider-nav .slick-prev, .slider-nav .slick-next {
  display: none !important;
}

/*------Record-------*/

.record {
  padding: 40px 0 75px;
  position: relative;
}

/*Form*/

.js-form {
  margin-top: 15px;
}

.form__field {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  margin-right: 20px;
}

.form__field:last-child {
  margin-right: 0;
}

.btn__red__bottom {
  width: 100%;
  height: 40px;
  background-color: #17437f;
  color: #fff;
  border: 1px solid #17437f;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 8px;
}

.btn__red__bottom-vacancies {
  width: 74.1%;
}

.btn__red__bottom-partner {
  width: 65.4%;
}

.btn__red__bottom-excursion {
  width: 65.9%;
}

.btn__red__bottom:hover {
  background-color: #1f66C6;
  border: 1px solid #1f66C6;
  color: #fff;
}

.form__item {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.form__label {
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
}

.form__label_margin {
  align-items: inherit;
}

.form__checkbox {
  margin-right: 9px;
}

.form__checkboxLat {
  margin-top: 21px;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.91);
  overflow: hidden;
  display: none;
}

label.error {
  font-size: 18px;
  color: #000;
  border: 1px solid #ff7373;
  background-color: #ffeeee;
  border-radius: 5px;
  padding: 23px;
  width: 100%;
  display: flex;
  text-align: left
}

input.error {
  border: 1px solid red !important;
}

input.valid {
  border: 1px solid green !important;
}

#loader img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

#overlay, #overlayLat {
  max-width: 1182px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  display: none;
}

#thx, #thh {
  background: #EDF5FB;
  position: absolute;
  left: 0;
  top: 100px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  border-radius: 30px;
}

#thh {
  top: 174px;
  padding: 83px 30px
}

/*------Vacancies-------*/

.offer {
  padding: 120px 0 74px;
}

.offer-partners {
  padding-bottom: 30px;
}

.offer-vacancies {
  padding-bottom: 0;
}

.offer-title {
  margin-bottom: 30px;
  font-size: 55px;
  text-align: left;
}

.record-title_partners {
  font-size: 35px;
}

.offer-text {
  margin-bottom: 23px;
}

.offer-text:last-child {
  margin-bottom: 0;
}

/*------Paragraphs-------*/

.paragraphs {
  padding: 13px 0 25px;
}

/* Базовый контейнер табов */
*{box-sizing:border-box} 
.tabs { 
  padding: 0px; 
  margin: 0 auto; 
  position: relative; 
} 

.tabs__description { 
  display: none;  
  padding: 15px 15px 15px 29px; 
  background: white; 
  position: absolute; 
  top: 0; 
  left: 180px; 
  height: 100%;
  border: 1px solid #DEE8F2; 
} 

.tabs input { 
  display: none; 
} 

.tabs label { 
  display: block; 
  width: 180px; 
  padding: 4px; 
  color: #17437F; 
  background: #fff; 
  cursor: pointer; 
  left: 1px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.tabs label:before {
  content: '—';
  display: inline-block;
  margin-right: 15px;
  color: #000;
}

.tabs input:checked + label { 
  color: #000;
  font-weight: 700;
  background: white;
  border-top: 1px solid #DEE8F2; 
  border-bottom: 1px solid #DEE8F2; 
  border-left: 1px solid #DEE8F2; 
  border-right: 1px solid #fff;
  z-index: 5;
  padding-left: 38px;
  font-size: 18px;
}

.tabs input:checked + label:before {
  display: none;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8, #tab9:checked ~ #content9 { 
  display: block; 
} 
.tabs__description { 
  animation: scale 0.7s ease-in-out; 
} 

@keyframes scale { 
  0% { 
  transform: scale(0.9); 
  opacity: 0; 
  } 
  50% { 
  transform: scale(1.005); 
  opacity: 0.5; 
  } 
  100% { 
  transform: scale(1); 
  opacity: 1; 
  } 
}

.tabs__text {
  margin-bottom: 15px;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 20px;
}

.tabs__conditions {
  font-weight: 700;
  font-family: 'OpenSans-Italic';
  font-size: 16px;
}

/*------Аккордеон на минимальных разрешениях-------*/
 Формируем базовый контейнер аккордеона 
*/
.accordion {
    width: 100%;
/*
ширина произвольная выбирается
*в зависимости от места размещения 
*/
  max-width: 600px;
  min-height: 0;
  display: block;
/* относительное позиционирование */
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: #fefffa;
  overflow: hidden
}
/* заголовки панелей аккордеона */
.accordion h2 {
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  padding: 10px 25px;
  cursor: pointer;
  color: #000;
  border: 1px solid #DEE8F2;
  border: 1px solid #DEE8F2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PTSans';
  font-weight: 700;
}

/* Формируем блоки с содерханием */
.msg {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 10px;
}
 
/* оформляем параграфы */
.msg p {
  color: #000;
  padding: 0 20px
}
 
/* Позаботимся о небольших экранах */
@media (max-width: 550px) {
  .accordion {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
} 
 
/* Формируем неупорядоченный список */
.accordion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #DEE8F2;
}
 
/* Определяем и формируем отдельный элемент списка 
 * в который поместим скрытый флажек,
 * заголовок панелей и блок с содержанием
*/

.accordion ul li {
  position: relative;
  padding: 0;
  margin: 0;
}
 
/* устанавливаем время ожидания перед воспроизведением анимации 
 * на основе нумерации в дереве элементов
*/

.accordion ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.accordion ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.accordion ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.accordion ul li:last-of-type {
  padding-bottom: 0;
}
 
/* Сформируем  указатель переключения состояния аккордеона */
.accordion ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 34px;
/* расположим указатель на панели заголовка справа */
  right: 25px;
}
 
/* "Рисуем " сам указатель */
.accordion ul li i:before, .accordion ul li i:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 3px;
  height: 9px;
}

/* Добавляем элемент трансформации указателя при переключении */
.accordion ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.accordion ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

/* Делаем чекбокс скрытым*/
.accordion ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* Когда у флажка установлен checked  
 * блок с содержанием скрыт
*/

.accordion ul li input[type=checkbox]:checked ~ div.msg {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

/* А указатель показывает вниз */
.accordion ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.accordion ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

/*  Устанавливаем эффект перехода
 * между двумя состояниями указателя 
*/

div.msg, ul li i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}

.form__record {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin-right: 24px;
}

.form__record:last-child {
  margin-right: 0;
}


/*------Families-------*/
/*------Distributions-------*/

.distributions__milk {
  margin-bottom: 20px;
}

.product__link {
  margin-bottom: 40px;
  display: inline-block;
  width: 100%;
}

.product__link img {
  width: 100%;
}

/*------Address-------*/
.address {
  padding: 20px 0 80px;
}

.address-title {
  margin-bottom: 60px;
}

.stations {
  font-size: 16px;
  font-family: 'PTSans-CaptionBold';
  margin-top: 40px;
}

.place__img {
  background: url(../img/ico-place.png);
  width: 20px;
  height: 25px;
  margin-bottom: 15px;
}

.place__text {
  font-size: 16px;
  font-family: 'PTSans-Regular';

}

.selectItem {
  width: 300px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 40px;
  outline: none;
}

/*------Child-------*/
/*------Distributions-------*/

.school-child {
  background: url(../img/kindergarten.png) no-repeat center center/cover;
  height: 490px;
}

.information__text {
  margin-bottom: 20px;
}

/*------Partners-------*/
/*------Offer-------*/

.offer-img {
  width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 33px;

}

.offer-img img {
  width: 100%;
}

/*------Partners-------*/

.brands {
  font-size: 25px;
  font-family: 'PTSans-CaptionBold';
  margin-bottom: 20px;
  text-align: left;
}

.brands-box {
  height: 140px;
  border: 1px solid #0000001a;
  border-radius: 10px;
  text-align: center;
  line-height: 8em;
  margin-bottom: 30px;
}

.brands-box_link {
  display: block;
}

  /*------Suppliers-------*/
  /*------Offer-------*/

.offer-img__cow {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.offer-img__cow img {
  width: 100%;
}

.text-up {
  text-transform: uppercase;
}

  /*------Contacts-------*/
  /*------Offer-------*/

.data {
  margin: 40px 0 80px;
}

.data__title {
  margin-bottom: 11px;
  font-family: 'PTSans-Caption';
  font-weight: bold;
  font-size: 18px;

}

.data__address {
  margin-bottom: 3px;
}

.data__btn {  
  border: none;
  background: none;
  cursor: pointer;
  color: #17437f;
}

.contact {
  border-radius: 30px;
  box-shadow: 0 0 60px 0px rgba(16,117,191,0.21);
  padding: 80px 163px;
  width: 1200px;
  margin: 0 auto 60px;
  position: relative;
}

.record-title_contact {
  font-size: 30px;
}

.record__text {
  margin-bottom: 20px;
}

.form__item-tow {
  width: 66%;
}

.mesage {
  border: 1px solid #ced4da;
  border-radius: 30px;
  padding: 10px 22px;
  color: #495057;
  width: 100%;
  height: 140px;
  margin-bottom: 5px;
}

/*------products-------*/

.products, .awards, .story, .mission {
  padding-top: 110px;
  padding-bottom: 80px;
}

.menu-two {
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 30px;
}

.menu-two:first-child {
  margin-bottom: 0;
}

.menu-two li a {
  font-family: 'PTSans-Caption';
  font-size: 16px;
}

.active {
  color: #000;
  font-weight: bold;
}

.menu-two li {
  margin-right: 19px;
  line-height: 1.6;
}

.product__overlay {
  display: block;
  width: 100%;
  border: 1px solid #17437F;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  background: #fff;
  border-radius: 5%;
  padding: 12px
}

.product__img img, .face__img img {
  width: 100%;
  position: relative;
  opacity: 1;
}

.product__overlay p {
  color: #000;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.product__text {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 50px;
  line-height: 23px;
  color: #000;
}

.products__link {
  font-size: 14px;
  font-weight: 700;
  color: #17437F;
}

.products__link:active, .products__link:focus {
  color: #000;
  font-weight: bold;
}

.product__page {
  margin-left: 15px;
  margin-top: 27px;
  box-shadow: 0 2px 55px rgba(16, 117, 191, 0.27);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  justify-content: space-between;
  padding: 0px 35px;
  align-items: center;
  background-color: #fff;
}

.product {
  position: relative;
}

.product__overlay:hover {
  opacity: 0.9;
}

/*------awards-------*/

.award-text {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 46px;;
  color: #000;
  line-height: 22px;
}

.award-text span {
  font-weight: bold;
}

/*------video-------*/

.video__title {
  font-size: 25px;
  font-family: 'PTSans-CaptionBold';
  margin-bottom: 8px;
}

.video__text {
  font-size: 16px;
  margin-top: 6px;
}

.about__img img, .events__img {
  width: 100%;
}

.about, .faces, .reviews {
  padding-top: 111px;
}

/*------faces-------*/

.faces__img {
  width: 698px;
  display: block;
  margin: 39px auto 29px auto;
}

.faces__img img {
  width: 100%;
}

/*------story-------*/

.story__block {
  text-align: center;
  margin: 23px 0 30px;
}

.story__block-img {
  margin: 0 10px;
}

.story__img {
  display: block;
  margin: 40px auto 30px auto;
  width: 700px;
}

.mission__img {
  width: 700px;
  display: block;
  margin: 40px auto 0 auto;
}


/*------mission-------*/

.mission p {
  margin-bottom: 10px;
}

/*------reviews-------*/

.reviews__title {
  font-size: 18px;
  font-family: 'PTSans-CaptionBold';
  line-height: 20px;
  margin-bottom: 7px;
}

.reviews__text {
  font-size: 13.6px;
  font-style: italic;
}

.reviews__wrap {
  display: flex;
  border-bottom: 1px solid #D8D8D8;
  justify-content: space-between;
  padding-bottom: 14px;
}

.reviews__block {
  color: #000;
  display: block;
}

.reviews__block:hover {
  color: #000;
}

.reviews__txt {
  font-size: 14px;
  margin-top: 17px;
  margin-bottom: 60px;
}

.reviews__img {
  display: block;
}

/*------error-------*/

.error__text {
  font-size: 18px;
  line-height: 2;
}

.erorr {
  padding-top: 111px;
  padding-bottom: 166px;
}

.map {
  padding-bottom: 39px;
}

.popup {
  display: none;
  top: 131px !important;
}

.popupLat {
  display: none;
}

.overlay-contact {
  max-width: 890px !important;
  width: 100% !important;
}

.pluses-img {
  height: 70px;
}

.text-br br {
  display: none;
}

.paragraphs-vacancies {
  padding-bottom: 10px;
}

.record-vacancies {
  padding: 0px 0 75px;
}

.map {
  margin-top: 7px;
  font-size: 14px;
}

.map1 {
  width: 100%; 
  height: 100%;
   padding: 0;
    margin: 0;
}

.maps {
  height: 639px;
}

.mapM {
  cursor: pointer;
}

.thx-vacancies  {
  top: 55px !important;
}

.offer-contact {
  padding-bottom: 0;
}

.img-wrap {
  display: block;
  position: relative;
}

.img-wrap:after {
  content: '';
  background: url(../img/youtube.png) no-repeat center center;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 33%;
  left: 40%;
}

.img-wrap img {
  width: 100%;
}

/*------Media Queries-------*/

/*992-1200px*/
@media screen and (max-width: 1200px) {
    /*------index-------*/
  /*------Header-------*/

  .slider__content {
    left: 8%;
    margin-left: 0;
  }

  .contact {
    width: auto;
  }

  .circle {
    left: -40px;
  }

  .bullet:before {
    left: -41px;
  }

/*------products-------*/

  .menu-two {
    width: auto;
  }

}

/*992-1200px*/
@media screen and (max-width: 1024px) {

  .overlay-contact {
  max-width: 707px !important;
 }
}

/*768-992px*/
@media screen and (max-width: 992px) {

  .slider__img {
    display: none !important;
  }

  .slider__img-t {
    display: block !important;
  }

  .slider__content-main {
    top: 34%;
  }

  .slider__content {
    top: 22%;
  }

  .slider__content_down {
    top: 27%;
  }

  .stock {
    padding-bottom: 40px;
  }

  .events {
    margin-bottom: 30px;
  }

  /*------footer-------*/

  .circle {
    left: -62px;
  }

  .bullet:before {
    display: none;
  }

  .form__block   {
    flex-direction: column;
    align-items: center;
  }

  /*------Form-------*/

  .form__item {
    display: block;
    text-align: center;
    margin-top: 0;
  }

  .form__label  {
    width: 230px;
    text-align: left;
    margin-bottom: 10px;
  }

  .mesage {
    margin-top: 4px;
  }

  .form__field, .form__record {
    margin-bottom: 20px;
  }

  .form__record:last-child {
    margin-bottom: 0;
  }

  .form__field:last-child {
    margin-bottom: 0;
  }

/*------Families-------*/
/*------Distributions-------*/
  .stations {
    margin-bottom: 19px;
    margin-top: 15px;
  }

  .contact {
    padding: 80px 15px;
    margin-top: 20px;
  }

/*------Child-------*/
/*------Info-------*/
  .info-title {
      top: -130px;
  }

  /*------Contacts-------*/
  /*------Offer-------*/

  .distributions-title {
    top: 0;
    position: relative;
    margin-bottom: 17px;
  }

  .info-title {
    top: 0;
    position: relative;
    margin-bottom: 17px;
  }

   .header-ex:after {
    display: none;
  }

  .record {
    padding-top: 0;
  }

  .award-text br {
    display: none;
  }
  
  .award-text span {
    display: block;
  }

  .item__text {
    margin-bottom: 30px;
  }

  .form__record, .form__field {
    margin-right: 0;
  }

  .address {
    padding-bottom: 35px;
  }

  #overlay, #overlayLat {
    height: 100%;
  }

  .popup {
    top: 190px !important;
  }

  #thh {
    top: 230px;
  }

  .data {
    margin: 15px 0 17px;
  }

  .overlay-contact {
    max-width: 100% !important;
  }

  .pluses {
    margin-bottom: 0;
  }

  .form__item-tow {
    width: auto;
  }

  .btn__red__bottom {
    width: 100%;
  }

  .info {
    padding-bottom: 20px;
    margin-top: 0;
  }

  .distributions {
    margin-top: 0;
  }

  .thx-vacancies {
    top: 141px !important;
  }

  .address-title-families {
    margin-bottom: 10px;
    line-height: 40px;
  }

  .distributions-title {
    line-height: 40px;
  }

  .news {
    margin-bottom: 0;
  }
  .place__text {
    font-size: 18px;
  }
}

/*576-768px*/
@media screen and (max-width: 767px) {
    /*------index-------*/
  /*------Header-------*/
  
  .slider__img-t {
    display: none !important;
  }

  .slider__img-s {
    display: block !important;
  }

  .slider__content-main {
    width: 240px;
    top: 50%;
    margin-left: -122px;
    margin-top: -109px;
  }

  .slider__content_down {
    margin-top: -104px !important;
  }

  .slider__content {
    text-align: center;
    top: 50%;
    margin-top: -126px;
    margin-left: -175px;
    left: 50%;
    width: 350px;
  }

  .slider {
    box-shadow: 0 2px 255px 0 rgba(16,117,191,0.21);
  }

  .big-slider__link {
    margin-left: auto;
    margin-right: auto;
  }

  .big-slider__title {
    font-size: 30px;
    line-height: 30px;
    margin: 16px 0;
  }

  .slider__title {
    font-size: 30px;
    line-height: 30px;
  }

  .slider__text {
    font-size: 15px;
  }

  .circle {
    width: 0px;
    left: -55px;
  }

  .navigation {
    padding: 20px 0;
  }

  .logo__text {
    display: block;
    position: static;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 74px;
    line-height: 15px;
    letter-spacing: 0.14em;
    color: #000;
    font-family: 'PTSans-Caption', sans-serif;
    font-weight: bold;
  }

  .menu__logo {
    width: 46px;
  }

  .menu__link_logo {
    position: absolute;
    left: 75px;
    bottom: 143px;
  }

  .signature__block {
    display: block !important;
  }

  .signature__wrap {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .signature {
    display: block !important;
  }

  .signature__text {
    margin-bottom: 6px;
  }

  .signature__text br {
    display: block;
  }

  .signature:before {
    top: -42px;
  }

  .footer {   
    padding: 37px 0 37px;
  }

/*------Partners-------*/
/*------Partners-------*/

  .brands-box {
    margin: 0 auto 30px;
  }

/*------story-------*/

  .story__img, .mission__img {
    width: auto;
  }

  .story__block-img {
    display: block;
    margin-top: 20px;
  }

  /*------reviews-------*/

  .reviews__txt {
    text-align: left;
  }

  .product__text br {
    display: none;
  }

  .products, .awards, .story, .mission {
    padding-top: 35px;
  }

  .about, .faces, .reviews {
    padding-top: 40px;
  }

  .hamburger {
    display: block;
  }

  .js-form {
    text-align: center;
  }

  .offer {
    padding-top: 35px;
    padding-bottom: 44px;
  }

  .offer-partners {
    padding-bottom: 10px;
  }
  
  .brands {
    margin-top: 20px;
  }

  .story {
    padding-bottom: 56px;
  }

  .map {
    padding-bottom: 20px;
  }

  .record, .mission {
    padding-bottom: 61px;
  }

  .awards {
    padding-bottom: 44px;
  }

  .address {
    padding-bottom: 16px;
  }

  .paragraphs {
    padding-top: 0;
    padding-bottom: 54px;
  }

  .paragraphs-vacancies {
    padding-bottom: 10px;
  }

  .form__item-tow {
    width: auto;
  }

  .offer-img {
    width: auto;
  }

  .offer-contact {
    padding-bottom: 0;
  }

  .reviews__txt br {
    display: none;
  }

  .product__link img {
    width: 260px;
  }

}

/*400-576px*/
@media screen and (max-width: 576px) {

      /*------index-------*/
  /*------Header-------*/

  .navigation {
    padding: 27px 0 30px;
  }

  .fab  {
    margin-bottom: 20px;
  }

/*------Child-------*/
/*------Info-------*/

  h5 {
    font-size: 8px;
  }

/*------products-------*/

  h2 {
    font-size: 22px;
  }

  .mesage {
    width: 100%;
  }

  .signature__social {
    margin-left: 0;
  }
  
  .distributions-title {
    font-size: 33px;
    top: 0;
    position: relative;
    margin-bottom: 17px;
  }

  .info-title {
    font-size: 33px;
    line-height: 40px;
  }

  .header-ex:after {
    display: none;
  }

  .navigation {
    padding: 27px 0 25px;
  }

  .product, .awards__img, .face__img {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }

  .product {
    text-align: left;
  }

  .about__img img, .events__img, .product__img img {
    min-width: 260px;
  }

  .events__text, .events__time, .product__text, .award-text {
    text-align: left
  }

  .award-text {
    margin-bottom: 37px;
  }

  .product__text_left {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .about {
    padding-bottom: 28px;
  }

  .record-title {
    font-size: 35px;
    text-align: left;
    line-height: 40px;
  }

  .text-brTwo br {
    display: none;
  }

  .text-br br {
    display: block;
  }

  .text-br {
    line-height: 13px;
  }

  .record-title_partners {
    line-height: 33px;
  }

  .offer-title {
    font-size: 44px;
  }

  .address-title-families {
    font-size: 33px;
  }

}

/*320-400px*/
@media screen and (max-width: 400px) {

  .signature:before {
    width: 91.5%;
  }

}
