<?php
/** @var umiTemplaterPHP $this */
/** @var array $variables */
/**
 * Пагинация.
 *
 */

$pagination = $this->macros('system', 'numpages', [$variables['total'], $variables['per_page']]);
?>

<?php if (isset ($pagination['void:pages'])): ?>
<div class="row">
    <div class="col">
        <div class="product__page d-flex">
            <?php foreach ($pagination['void:pages'] as $page): ?>
                <?php if (isset($page['attribute:is-active'])): ?>
                    <a class="products__link">
                        <?= $page['node:num'] ?>
                    </a>
                <?php else: ?>
                    <a href="<?= $page['attribute:link'] ?>" class="products__link">
                        <?= $page['node:num'] ?>
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<?php endif ?>
