<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */
?>

<?php if(isset($variables['items']['nodes:item'])): ?>
    <section class="address" id="address">
        <div class="container">
            <div class="row">
                <div class="col-12 text-left">
                    <h3 class="record-title">
                        Список обслуживаемых садов и школ
                    </h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-2  text-center text-lg-left">
                    <p class="stations">
                        Детские сады
                    </p>
                </div>
                <div class="col-12 col-lg-4 text-center text-lg-left">
                    <div class="place">
                        <select id="selectItem" class="selectItem">
                            <?php foreach ($variables['items']['nodes:item'] as $item)
                            if (preg_match('~/detskie-sady/detskij-sad~', $item['@link'])){
                            $nurseryAddress = $this->getPageById($item['@id']);
                            echo "
                            <option>{$nurseryAddress->getValue('adres')}</option>
                            ";
                            } ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-2  text-center text-lg-left">
                    <p class="stations">
                        Школы
                    </p>
                </div>
                <div class="col-12 col-lg-4 text-center text-lg-left">
                    <div class="place">
                        <select id="selectItem" class="selectItem">
                            <?php foreach ($variables['items']['nodes:item'] as $item)
                            if (preg_match('~/shkoly/shkola~', $item['@link'])){
                            $schoolAddress = $this->getPageById($item['@id']);
                            echo "
                            <option>{$schoolAddress->getValue('adres')}</option>
                            ";
                            } ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>
