<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */
    $i = 0;
?>

<?php if(isset($variables['items']['nodes:item'])): ?>
    <section class="address" id="address">
        <div class="container">
            <div class="row">
                <div class="col-12 text-lg-left">
                    <h2 class="address-title address-title-families">
                        Адреса, где получить
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-2 text-center text-lg-left">
                    <p class="stations">
                        Стационарные
                    </p>
                </div>
                <?php foreach ($variables['items']['nodes:item'] as $item)
                    if (preg_match('~/stacionarnye-adresa/adres~', $item['@link'])){
                    $i++;
                    $Address = $this->getPageById($item['@id']);
                    echo "
                    <div class=\"col-12 col-md-4 col-lg-2 text-left\">
                        <div class=\"place mapM\" id=\"group-1-{$i}\">
                            <div class=\"place__img\"></div>
                            {$Address->getValue('content')}
                        </div>
                    </div>
                    ";
                    } ?>
            </div>
        </div>
        <section class="maps">
            <div id="map" class="map1">
                <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            </div>
        </section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-2  text-center text-lg-left">
                    <p class="stations">
                        Передвижные
                    </p>
                </div>
                <div class="col-12 col-lg-4 text-center text-lg-left">
                    <div class="place">
                        <select id="selectItem" class="selectItem">
                            <?php foreach ($variables['items']['nodes:item'] as $item)
                            if (preg_match('~/peredvizhnye-adresa/adres~', $item['@link'])){
                            $Address = $this->getPageById($item['@id']);
                            echo "
                            <option>{$Address->getValue('adres')}</option>
                            ";
                            } ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>
