<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */
?>


<?php if(isset($variables['items']['nodes:item'])): ?>
    <div class="row">
        <?php foreach ($variables['items']['nodes:item'] as $child) {
            $childPage = $this->getPageById($child['@id']);
            echo "
            <div class=\"col-sm-6 col-md-4 col-lg-3\">
                <div class=\"reviews__wrap\">
                    <a class=\"reviews__block\">
                        {$childPage->getValue('pokupatel')}
                    </a>
                    <a class=\"reviews__img\">
                        <img src=\"{$childPage->getValue('foto')}\" alt=\"Отзывы покупателей\">
                    </a>
                </div>
                {$childPage->getValue('otzyv')}
            </div>
            ";
            } ?>
    </div>
<?php endif; ?>
