<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */
?>

<?php if(isset($variables['items']['nodes:item'])): ?>
    <div class="row">
        <div class="col-12 d-none d-md-block">
            <div class="tabs">
                <?php $i = 1;
                $checked = 'checked';
                foreach ($variables['items']['nodes:item'] as $child) {
                    echo "
                        <input id=\"tab{$i}\" type=\"radio\" name=\"tabs\" {$checked}>
                        <label for=\"tab{$i}\">{$child['name']}</label>
                        ";
                    $checked = '';
                    $i++;
                }
                $i = 1;
                foreach ($variables['items']['nodes:item'] as $child) {
                    $childPage = $this->getPageById($child['@id']);
                    echo "
                        <div id=\"content{$i}\" class=\"tabs__description\">
                            {$childPage->getValue('content')}
                        </div>
                        ";
                    $i++;
                } ?>
            </div>
        </div>
        <!-- Аккордеон на маленьких разрешениях -->
        <div class="col-12 d-md-none">
            <div class="accordion">
                <ul>

                    <?php
                    foreach ($variables['items']['nodes:item'] as $child) {
                        $childPage = $this->getPageById($child['@id']);
                        echo "
                    <li>
                        <input type=\"checkbox\" checked>
                        <i></i>
                        <h2 class=\"title_block\">{$child['name']}</h2>
                        <div class=\"msg\">
                            {$childPage->getValue('content')}
                        </div>
                    </li>
                    ";
                    } ?>

                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>