<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $hierarchy = umiHierarchy::getInstance();
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $album = $hierarchy->getElement($variables['void:album_id']);
    $link = $variables['link'];
    if (preg_match('~/faces/~', $link))
        $className = 'face__img'; else $className = 'awards__img';
?>

<?php if(isset($variables['void:lines'])): ?>
    <div class="row">
    <?php foreach ($variables['void:lines'] as $item) {
        $photo = $hierarchy->getElement($item['attribute:id']);
        echo "         
        <div class=\"col-md-6 col-lg-3\">
            <a class=\"{$className}\">
                <img src=\"{$photo->getValue('photo')}\" alt=\"{$album->getValue('title')}\" class=\"img-fluid\">
                <p class=\"award-text\">
                    {$photo->getValue('descr')}
                </p>
            </a>
        </div>             
        ";
    } ?>
    </div>
    <?= $this->render($variables, 'modules/library/pagination/default'); ?>
<?php endif ?>


