<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $hierarchy = umiHierarchy::getInstance();
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $album = $hierarchy->getElement($variables['void:album_id']);
?>

<?php if(isset($variables['void:lines'])): ?>
    <div class="row">
        <div class="col-12 text-center text-lg-left">
            <p class="brands">
                <?= $album->getValue('title') ?>
            </p>
        </div>
    </div>
    <div class="row">
    <?php foreach ($variables['void:lines'] as $item) {
        $photo = $hierarchy->getElement($item['attribute:id']);
        echo "         
        <div class=\"col-sm-6 col-md-4 col-lg-3\">
            <div class=\"brands-box\">
                <a href=\"{$photo->getValue('link')}\" target=\"_blank\" class=\"brands-box__link\">
                    <img src=\"{$photo->getValue('photo')}\" alt=\"partner\" class=\"brands-box__img\">
                </a>
            </div>
        </div>                
        ";
    } ?>
    </div>
<?php endif ?>


