<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $hierarchy = umiHierarchy::getInstance();
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $album = $hierarchy->getElement($variables['void:album_id']);
?>

<section class="video">
    <div class="container">
        <div class="video__title">
            <?= $album->getValue('title') ?>
        </div>
        <div class="row">
            <?php if(isset($variables['void:lines'])): ?>
                    <?php foreach ($variables['void:lines'] as $item) {
                        $video = $hierarchy->getElement($item['attribute:id']);
                        echo "  
                        <div class=\"col-sm-6 col-md-4 col-lg-3\">
                            <div class=\"video__img\">
                                <iframe src=\"{$video->getValue('link')}\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>
                                {$video->getValue('descr')}
                            </div>
                        </div>                 
                        ";
                    } ?>
            <?php endif ?>
        </div>
    </div>
</section>



