<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);

?>

<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="signature d-flex justify-content-between">
                    <div class="signature__block d-flex">
                        <p class="signature__text">
                            &copy; Наро-Фоминский Молочный<br> завод, 1939—2018
                        </p>
                        <div class="signature__wrap">
                            <a href="https://vk.com/" target="_blank" class="signature__social">
                                <img src="<?= $templatePath ?>img/vk.png" alt="Вконтакте">
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="signature__social-instagram">
                                <img src="<?= $templatePath ?>img/instagram.png" alt="Инстаграм">
                            </a>
                        </div>
                    </div>
                    <p class="signature__text">
                        Создание сайта <span>&mdash;</span>
                        <a href="http://www.inetstudio.ru/" target="_blank" class="signature__firm">
                            I-Net
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>