<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $pageName = $variables['@request-uri'];
?>

<head>
    <meta charset="UTF-8">
    <title><?= $variables['@title']; ?></title>
    <meta name="description" content="<?= $variables['meta']['description']; ?>">
    <!-- Favicon -->
    <link rel="icon" href="<?= $templatePath; ?>img/favicon/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="<?= $templatePath; ?>img/favicon/logo.png" type="image/x-icon">
    <!-- OG Tags -->
    <meta property="og:title" content="<?= $variables['@title']; ?>">
    <meta property="og:description" content="<?= $variables['meta']['description']; ?>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="#">
    <meta property="og:site_name" content="<?= $variables['@title']; ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link rel="stylesheet" href="<?= $templatePath; ?>fonts/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Bootstrap-reboot CSS -->
    <link rel="stylesheet" href="<?= $templatePath; ?>css/bootstrap-reboot.css">
    <!-- Bootstrap.min CSS -->
    <link rel="stylesheet" href="<?= $templatePath; ?>css/bootstrap.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="<?= $templatePath; ?>css/slick.css">
    <link rel="stylesheet" href="<?= $templatePath; ?>css/slick-theme.css">
    <!-- ArcticModal -->
    <link rel="stylesheet" href="<?= $templatePath; ?>css/jquery.arcticmodal-0.3.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="<?= $templatePath; ?>css/main.css">
    <?php if (preg_match('~/about/~', $pageName)): ?>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css">
    <?php endif ?>
</head>