<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Статьи о нас */

    $hierarchy = umiHierarchy::getInstance();
    $event = $hierarchy->getElement($variables['category_id']);

?>

<section>
    <div class="container">
        <div class="video__title">
            <?= $event->getValue('title') ?>
        </div>
        <div class="row">
        <?php if(isset($variables['void:lines'])): ?>
            <?php foreach ($variables['void:lines'] as $item) {
                $article = $hierarchy->getElement($item['attribute:id']);
                echo "  
                <div class=\"col-sm-6 col-md-4 col-lg-3\">
                    <a class=\"about__img\">
                        <img src=\"{$article->getValue('anons_pic')}\" alt=\"{$event->getValue('title')}\">
                        {$article->getValue('anons')}
                    </a>
                </div>
                ";
                } ?>
        <?php endif ?>
        </div>
    </div>
</section>

