<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Новости на главной */

    $hierarchy = umiHierarchy::getInstance();
    $event = $hierarchy->getElement($variables['category_id']);
    $archive_link = trim($variables['archive_link'], 'index1/');
    if (preg_match('~news~', $variables['archive_link']))
        $archive_link = 'news'; else $archive_link='stock';

    $months = array(
        1 => 'января', 'февраля', 'марта', 'апреля', 'мая', 'июня',
        'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'
    );
?>

<section class="<?= $archive_link ?>" id="<?= $archive_link ?>">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="<?= $archive_link ?>-title">
                    <?= $event->getValue('title') ?>
                </h3>
            </div>
        </div>
        <div class="row">
        <?php if(isset($variables['void:lines'])): ?>
            <?php foreach ($variables['void:lines'] as $item) {
                $news = $hierarchy->getElement($item['attribute:id']);
                $timestamp = strtotime($news->getValue('publish_time'));
                $event_data = date('d '.$months[date('n', $timestamp)], $timestamp);
                $datetime = date('d-m-Y ', $timestamp);
                echo "
          
                <div class=\"col-sm-6 col-md-4 col-lg-3 \">
                    <div class=\"events\">
                        <a href=\"{$news->getValue('source_url')}\">
                            <img src=\"{$news->getValue('anons_pic')}\" alt=\"news\" class=\"events__img\">
                        </a>
                        <time datetime=\"{$datetime}\"  class=\"events__time\">
                            {$event_data}
                        </time>
                        {$news->getValue('anons')}
                    </div>
                </div>
                
                ";
            } ?>
        <?php endif ?>
        </div>
    </div>
</section>

