<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $fields = $variables['groups']['void:groups'][0]['void:fields'];
?>

<div class="container-fluid con-f d-none">
    <form action="/webforms/send/" class="js-form contact" id="popupCall">
        <h3 class="record-title record-title_contact text-left">
            Заказать звонок
        </h3>
        <p class="record__text text-left">
            Оставьте номер и мы вам перезвоним
        </p>
        <div class="erorrMessage"></div>
        <div class="form__block  d-flex justify-content-between">
            <input type="hidden" name="system_email_to" value="<?= $variables['items']['nodes:item'][0]['attribute:id'] ?>">
            <input type="hidden" name="system_form_id" value="<?= $variables['attribute:form_id'] ?>">
            <input type="hidden" name="system_template" value="<?= $variables['attribute:template'] ?>">
            <input type="hidden" name="ref_onsuccess" value="" >
            <input type="text" name="<?= $fields[0]['attribute:input_name'] ?>" required placeholder="ФИО *"  class="form-control form__field">
            <input type="text" name="<?= $fields[1]['attribute:input_name'] ?>" required placeholder="Вопрос *"  class="form-control form__field">
            <input type="tel" name="<?= $fields[2]['attribute:input_name'] ?>" required placeholder="Телефон *"  class="form-control form__field">
        </div>
        <div class="form__item">
            <!-- Чекбоксы  -->
            <label for="first" class="form__label d-flex">
                <input type="checkbox" class="form__checkbox" id="first" name="check" value="Cогласен(на) на обработку персональных данных"><br>
                Cогласен(на) на обработку персональных данных
            </label>
            <button class="btn__red__bottom font-bold btn__red__bottom-partner" data-submit>Отправить</button>
        </div>
        <!-- Сообщение "спасибо" после отправки формы -->
        <div id="overlay" class="overlay-contact">
            <div id="thx" class="popup">
                <h4>
                    Спасибо
                </h4>
                <p>
                    Ваша заявка успешно отправлена
                </p>
                <a href="#popupCall">
                    Отправить еще одину заявку
                </a>
            </div>
        </div>
    </form>
</div>




