<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $fields = $variables['groups']['void:groups'][0]['void:fields'];
?>

<section class="record record-excursion" id="record">
    <div class="container">
        <div class="row">
            <div class="col-12 text-lg-left">
                <h3 class="record-title record-title_partners">
                    Записаться
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/webforms/send/" class="js-form" id="popupCall">
                    <div class="erorrMessage"></div>
                    <div class="form__block  d-flex justify-content-between">
                        <input type="hidden" name="system_email_to" value="<?= $variables['items']['nodes:item'][0]['attribute:id'] ?>">
                        <input type="hidden" name="system_form_id" value="<?= $variables['attribute:form_id'] ?>">
                        <input type="hidden" name="system_template" value="<?= $variables['attribute:template'] ?>">
                        <input type="hidden" name="ref_onsuccess" value="" >
                        <input type="text" name="<?= $fields[0]['attribute:input_name'] ?>" required placeholder="ФИО *"  class="form-control form__field">
                        <input type="tel" name="<?= $fields[1]['attribute:input_name'] ?>" required placeholder="Телефон *"  class="form-control form__field">
                        <input type="email" name="<?= $fields[2]['attribute:input_name'] ?>" required placeholder="E-mail *"  class="form-control form__field">
                    </div>
                    <div class="form__item">
                        <!-- Чекбоксы  -->
                        <label for="first" class="form__label d-flex">
                            <input type="checkbox" class="form__checkbox" id="first" name="check" value="Cогласен(на) на обработку персональных данных"><br>
                            Cогласен(на) на обработку персональных данных
                        </label>
                        <button class="btn__red__bottom font-bold btn__red__bottom-excursion" data-submit>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="overlay">
            <div id="thx">
                <h4>
                    Спасибо
                </h4>
                <p>
                    Ваш отклик успешно отправлен
                </p>
                <a href="#record">
                    Отправить еще один
                </a>
            </div>
        </div>
    </div>
    <!-- Индикация процесса отправки формы -->
    <div id="loader">
        <img src="<?= $templatePath ?>img/ripple.svg">
    </div>

    <!-- Сообщение "спасибо" после отправки формы -->
</section>




