<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
    $fields = $variables['groups']['void:groups'][0]['void:fields'];
?>

<div class="container-fluid con-w d-none">
    <form action="/webforms/send/" class="js-form contact text-center text-lg-right" id="popupLetter">
        <h3 class="record-title record-title_contact text-left">
            Написать письмо
        </h3>
        <p class="record__text text-left">
            Отправьте нам свой вопрос и мы на него обязательно ответим
        </p>
        <div class="erorrMessage"></div>
        <div class="form__block  d-flex justify-content-between">
            <input type="hidden" name="system_email_to" value="<?= $variables['items']['nodes:item'][0]['attribute:id'] ?>">
            <input type="hidden" name="system_form_id" value="<?= $variables['attribute:form_id'] ?>">
            <input type="hidden" name="system_template" value="<?= $variables['attribute:template'] ?>">
            <input type="hidden" name="ref_onsuccess" value="" >
            <input type="text" name="<?= $fields[0]['attribute:input_name'] ?>" required placeholder="ФИО *"  class="form-control form__field">
            <input type="tel" name="<?= $fields[1]['attribute:input_name'] ?>" required placeholder="Телефон *"  class="form-control form__field">
            <input type="text" name="<?= $fields[2]['attribute:input_name'] ?>" required placeholder="Тема *"  class="form-control form__field">
        </div>
        <div class="form__item flex-colomn d-lg-flex justify-content-between">
            <!-- Чекбоксы  -->
            <label for="first" class="form__label form__label_margin d-flex text-md-left">
                <input type="checkbox" class="form__checkbox form__checkboxLat" id="first" name="check" value="Cогласен(на) на обработку персональных данных"><br>
                Cогласен(на) на обработку персональных данных
            </label>
            <div class="form__item-tow">
                <textarea type="mesage" name="<?= $fields[3]['attribute:input_name'] ?>" required placeholder="Текст *"  class="mesage "></textarea>
                <button class="btn__red__bottom font-bold" data-submit>Отправить</button>
            </div>
        </div>
        <!-- Сообщение "спасибо" после отправки формы -->
        <div id="overlayLat" class="overlay-contact">
            <div id="thh" class="popupLat">
                <h4>
                    Спасибо
                </h4>
                <p>
                    Ваше письмо успешно отправлено
                </p>
                <a href="#popupLetter">
                    Написать еще одно
                </a>
            </div>
        </div>
    </form>
</div>




