<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $page = isset($variables['full:page']) ? $variables['full:page'] : false;
    $pageName = $variables['@request-uri'];
    $sectionClass = trim($pageName, '/');
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<!DOCTYPE html>
<html lang="ru">
<?= $this->render($variables, 'assets/head'); ?>
<body>
<section class="header" id="header">
    <?= $this->render($this->macros('menu', 'draw', array('main_menu')), 'modules/menu/draw/default') ?>
</section>
<section class="<?= $sectionClass ?>">
    <div class="container">
        <h3 class="offer-title">
            <?= $page->getValue('title') ?>
        </h3>
        <div class="row">
            <div class="col">
                <?= $this->render($this->macros('menu', 'draw', array('about_menu')), 'modules/menu/draw/menu_about') ?>
                <?= $this->render($this->macros('menu', 'draw', array('second_dop_menu')), 'modules/menu/draw/menu_about') ?>
            </div>
        </div>
        <?= $page->getValue('content'); ?>
        <?= $this->parseTplMacros($variables['data']['content']); ?>
    </div>
</section>

<?= $this->render($variables, 'assets/footer'); ?>
<!-- Main JS -->
<script src="<?= $templatePath; ?>js/jquery-3.3.1.min.js"></script>
<script src="<?= $templatePath; ?>js/slick.min.js"></script>
<!-- Валидатор для проверки формы на заполненность  -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script src="<?= $templatePath; ?>js/main.js"></script>
</body>
</html>