<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

$page = isset($variables['full:page']) ? $variables['full:page'] : false;
$pageTitle = $page->getValue('title');
$pageName = $variables['@request-uri'];
$pageNameClear = trim($pageName, '/');
$templatePath = cmsController::getInstance()->getResourcesDirectory(true);

if (preg_match('~/families/~', $pageName))
    $aligning = 'justify-content-center'; else $aligning = 'justify-content-between';
?>

<!DOCTYPE html>
<html lang="ru">
<?= $this->render($variables, 'assets/head'); ?>
<body>
<section class="header-ex" id="header-ex">
    <?= $this->render($this->macros('menu', 'draw', array('main_menu')), 'modules/menu/draw/default') ?>
    <?= $page->getValue('kod_kartinki') ?>
</section>
<section class="<?= $page->getValue('class_section') ?>" id="<?= $page->getValue('class_section') ?>">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <h2 class="<?= $page->getValue('class_section') ?>-title">
                    <?= $pageTitle ?>
                </h2>
            </div>
        </div>
        <div class="row d-flex <?= $aligning ?>">
            <?= $page->getValue('content'); ?>
            <?= $this->render($this->macros('umiSliders', 'getSlideListBySliderName', ['milkfactory', "$pageTitle"]), "modules/sliders/$pageNameClear") ?>
        </div>
    </div>
</section>
<?= $this->parseTplMacros($variables['data']['content']); ?>
<?= $this->render($variables, 'assets/footer'); ?>
<!-- Main JS -->
<script src="<?= $templatePath; ?>js/jquery-3.3.1.min.js"></script>
<script src="<?= $templatePath; ?>js/slick.min.js"></script>
<!-- Валидатор для проверки формы на заполненность  -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="<?= $templatePath; ?>js/main.js"></script>
</body>
</html>