<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $page = isset($variables['full:page']) ? $variables['full:page'] : false;
    $pageName = $variables['@request-uri'];
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<?php if ($variables['@is-default']): ?>
    <?= $this->render($variables, 'layouts/index') ?>
<?php elseif (preg_match('~/contacts/~', $pageName)) : ?>
    <?= $this->render($variables, 'contacts'); ?>
<?php else: ?>

    <!DOCTYPE html>
    <html lang="ru">
    <?= $this->render($variables, 'assets/head'); ?>
    <body>
    <section class="header" id="header">
        <?= $this->render($this->macros('menu', 'draw', array('main_menu')), 'modules/menu/draw/default') ?>
        <?= $page->getValue('content'); ?>
    </section>
    <?= $this->parseTplMacros($variables['data']['content']); ?>
    <?= $this->render($variables, 'assets/footer'); ?>
    <!-- Main JS -->
    <script src="<?= $templatePath; ?>js/jquery-3.3.1.min.js"></script>
    <script src="<?= $templatePath; ?>js/slick.min.js"></script>
    <!-- Валидатор для проверки формы на заполненность  -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="<?= $templatePath; ?>js/main.js"></script>
    </body>
    </html>

<?php endif; ?>