<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $page = isset($variables['full:page']) ? $variables['full:page'] : false;
    $pageName = $variables['@request-uri'];
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);

?>

<!DOCTYPE html>
<html lang="ru">
    <?= $this->render($variables, 'assets/head'); ?>
    <body>
        <div class="wraper">
            <?= $this->render($variables, 'assets/header'); ?>
            <?= $page->getValue('content'); ?>
            <?= $this->render($this->macros('news', 'lastlist', array('index/news1', null, null, true)), 'modules/news/lastlist/default'); ?>
            <?= $this->render($this->macros('news', 'lastlist', array('index/stock', null, null, true)), 'modules/news/lastlist/default'); ?>
            <?= $this->render($variables, 'assets/footer'); ?>
        </div>
    <!-- Main JS -->
    <script src="<?= $templatePath; ?>js/jquery-3.3.1.min.js"></script>
    <script src="<?= $templatePath; ?>js/slick.min.js"></script>
    <!-- Валидатор для проверки формы на заполненность  -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="<?= $templatePath; ?>js/main.js"></script>
    </body>
</html>