<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Слайдер Детям */

?>

<div class="col-12 col-lg-6">
    <div class="slider-for">
        <?php if(isset($variables['slides']))
            foreach ($variables['slides']['nodes:item'] as $item)
            echo "
            <img src=\"{$item['@image']}\">
            ";
        ?>
    </div>
    <div class="slider-nav">
        <?php if(isset($variables['slides']))
            foreach ($variables['slides']['nodes:item'] as $item)
            echo "
            <img src=\"{$item['@image']}\" class=\"slider-nav__img\">
            ";
        ?>
    </div>
</div>





