<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Слайдер на главной */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<div class="slider">
    <div class="container-fluid">
        <div class="slider__element">
            <?php if(isset($variables['slides'])){
                    $item = $variables['slides']['nodes:item'];
                    echo "
                        <div class=\"slider__block\">
                            <img src=\"{$templatePath}img/slide.png\" alt=\"Slider\" class=\"slider__img\">
                            <img src=\"{$templatePath}img/t-slide.png\" alt=\"slider\" class=\"slider__img-t\" style=\"display: none\">
                            <img src=\"{$templatePath}img/s-slide.png\" alt=\"slider\" class=\"slider__img-s\" style=\"display: none\">
                            {$item[0]['@text']}
                        </div>
                    ";
                for ($i=1; $i<4; $i++){
                    $j=$i+1;
                    echo "
                       <div class=\"slider__item\">
                            <div class=\"row\">
                                <div class=\"col-12\">
                                    <img src=\"{$item[$i]['@image']}\" alt=\"Slide\" class=\"slider__img\">
                                    <img src=\"{$templatePath}img/t-slide-{$j}.png\" alt=\"slider\" class=\"slider__img-t\" style=\"display: none\">
                                    <img src=\"{$templatePath}img/s-slide-{$j}.png\" alt=\"slider\" class=\"slider__img-s\" style=\"display: none\">
                                    {$item[$i]['@text']}
                                </div>
                            </div>
                        </div>
                    ";
                }
            }
            ?>
        </div>
    </div>
</div>




