<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Слайдер Молодым семьям */

?>

<?php if(isset($variables['slides']))
    foreach ($variables['slides']['nodes:item'] as $item)
        echo "
        <div class=\"col-12 col-md-4 col-lg-2 text-center\">
            <a href=\"#\" class=\"product__link\" target=\"_blank\">
                <img src=\"{$item['@image']}\" alt=\"product\" class=\"product__img\">
            </a>
        </div>
        ";
?>






