<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $hierarchy = umiHierarchy::getInstance();
    $currentPageId = cmsController::getInstance()->getCurrentElementId();
    $catalogId = $variables['attribute:category-id'];
    $catalogPath = $hierarchy->getPathById($catalogId);
    $catalog = $hierarchy->getElement($catalogId);
?>

<?php if(isset($variables['items']['nodes:item'])): ?>
    <div class="container">
        <h3 class="offer-title">
            <?= $catalog->getValue('title') ?>
        </h3>

        <div class="row">
            <div class="col">
                <ul class="menu-two d-flex">
                    <?php
                    if ($currentPageId == $catalogId)
                    echo "
                    <li>
                        <a>
                            Все
                        </a>
                    </li>";
                    else
                    echo "
                    <li>
                        <a href='{$catalogPath}'>
                            Все
                        </a>
                    </li>";
                    foreach ($variables['items']['nodes:item'] as $item) {
                    if ($currentPageId == $item['attribute:id'])
                    echo "
                    <li>
                        <a>
                            {$item['node:text']}
                        </a>
                    </li>";
                    else
                    echo "
                    <li>
                        <a href='{$item['attribute:link']}'>
                            {$item['node:text']}
                        </a>
                    </li>";
                    }
                    ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif ?>


