<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $hierarchy = umiHierarchy::getInstance();
    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<?php if(isset($variables['lines']['nodes:item'])): ?>
    <div class="container">
        <div class="row">
        <?php
        foreach ($variables['lines']['nodes:item'] as $item) {
            $object = $hierarchy->getElement($item['attribute:id']);
            echo "
            <div class=\"col-sm-6 col-md-4 col-lg-3\">
                <div class=\"product\">
                    <div class=\"product__img\">
                            {$this->render(
                                    $this->macros('system', 'makeThumbnail', array('path' => '.' .$object->getValue('izobrazhenie'), 'width' => 440, 'height' => auto)),
                                    'modules/library/thumbnail'
                                    )}               
                    </div>
                    <a href=\"#\" class=\"product__overlay\">
                    {$object->getValue('opisanie')}
                    </a>
                </div>
                {$object->getValue('nazvanie')}
            </div>
            ";
        }
        ?>
        </div>
        <?= $this->render($variables, 'modules/library/pagination/default'); ?>
    </div>
<?php endif ?>