<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Основное меню */

    $templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<div class="navigation">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="d-none d-md-block col-md-5">
                    <ul class="menu d-flex justify-content-between">

                        <?php $item = $variables['nodes:item'];
                        $bullet_class = '';
                        for ($i=0; $i<3; $i++){
                        echo "
                        <li class=\"menu__list {$bullet_class}\">
                            <a href=\"{$item[$i]['attribute:link']}\" class=\"menu__link\">
                                {$item[$i]['attribute:name']}
                            </a>
                        </li>
                        ";
                        $bullet_class = 'bullet';
                        } ?>

                    </ul>
                </div>
                <div class="col-10 col-md-2">
                    <div class="circle">
                        <a href="/index" class="menu__link menu__link_logo">
                            <img src="<?= $templatePath ?>img/logo NF molocniy zavod cmyk.png" alt="logo" class="menu__logo">
                        </a>
                    </div>
                    <a href="/index" class="logo__text">
                        Наро-фоминский<br>
                        Молочный завод
                    </a>
                </div>
                <div class="d-none d-md-block col-md-5">
                    <ul class="menu d-flex justify-content-between">

                        <?php $item = $variables['nodes:item'];
                        $bullet_class = '';
                        for ($i=3; $i<6; $i++){
                        echo "
                        <li class=\"menu__list {$bullet_class}\">
                            <a href=\"{$item[$i]['attribute:link']}\" class=\"menu__link\">
                                {$item[$i]['attribute:name']}
                            </a>
                        </li>
                        ";
                        $bullet_class = 'bullet';
                        } ?>

                    </ul>
                </div>
                <div class="d-none col-md-5 menu-collapse">
                    <ul class="menu d-flex">
                        <li class="menu__list-logo d-flex">
                            <a href="/index" class="hamburger-link">
                                <img src="<?= $templatePath ?>img/logo NF molocniy zavod cmyk.png" alt="logo" class="hamburger-logo">
                            </a>
                            <h1 class="logo__text-hamburger">
                                Наро-фоминский<br>
                                Молочный завод
                            </h1>
                            <div class="menu__close"></div>
                        </li>
                        <?php foreach ($variables['nodes:item'] as $item){
                        echo "
                        <li class=\"menu__item-hamburger\">
                            <a href=\"{$item['attribute:link']}\" class=\"menu__link-hamburger\">
                                {$item['attribute:name']}
                            </a>
                        </li>
                        ";
                        } ?>

                    </ul>
                </div>
                <div class="col-2 d-md-none d-flex justify-content-end">
                    <button type="button" class="hamburger">
                        <div class="hamburger-bars"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>

