<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    /* Меню станиц about */

?>

<?php if (isset($variables)): ?>
<ul class="menu-two d-flex">

    <?php
    foreach ($variables['nodes:item'] as $item){
        if (isset($item['attribute:status']) && ($item['attribute:status'] == 'active' ) )
        echo "
        <li>
            <a class=\"active\">
                {$item['attribute:name']}
            </a>
        </li>
        ";
        else
        echo "
        <li>
            <a href=\"{$item['attribute:link']}\">
                {$item['attribute:name']}
            </a>
        </li>
        ";
    } ?>

</ul>
<?php endif ?>
