<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

$page = isset($variables['full:page']) ? $variables['full:page'] : false;
$templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<!DOCTYPE html>
<html lang="ru">
<?= $this->render($variables, 'assets/head'); ?>
<body>

<section class="header" id="header">
    <?= $this->render($this->macros('menu', 'draw', array('main_menu')), 'modules/menu/draw/default') ?>
    <div class="offer">
        <?= $page->getValue('content'); ?>
        <?= $this->render($this->macros('webforms', 'add', array($page->getValue('form_id'))), 'modules/webforms/add/callback') ?>
        <?= $this->render($this->macros('webforms', 'add', array($page->getValue('form_id_dop'))), 'modules/webforms/add/sendEmail') ?>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-2 text-left">
                    <p class="stations">
                        Фирменные магазины
                    </p>
                </div>
                <?= $this->render($this->macros('content', 'getList', array('default', $page->getId())), 'modules/content/getList/contacts') ?>
            </div>
        </div>
    </div>
</section>
<section class="maps">
    <div id="map" class="map1">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    </div>
</section>
<?= $this->render($variables, 'assets/footer'); ?>

<!-- Индикация процесса отправки формы -->
<div id="loader">
    <img src="<?= $templatePath ?>img/ripple.svg">
</div>

<!-- Сообщение "спасибо" после отправки формы -->
<div id="overlay">
    <div id="thx">
        <h4>
            Спасибо
        </h4>
        <p>
            Ваша заявка успешно отправлена
        </p>
        <a href="#">
            Отправить еще одну
        </a>
    </div>
</div>
<!-- Main JS -->
<script src="<?= $templatePath; ?>js/jquery-3.3.1.min.js"></script>
<script src="<?= $templatePath; ?>js/slick.min.js"></script>
<!-- Валидатор для проверки формы на заполненность  -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="<?= $templatePath; ?>js/main.js"></script>
</body>
</html>



