<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

$page = isset($variables['full:page']) ? $variables['full:page'] : false;
$pageName = $variables['@request-uri'];
$templatePath = cmsController::getInstance()->getResourcesDirectory(true);
?>

<!DOCTYPE html>
<html lang="ru">
<?= $this->render($variables, 'assets/head'); ?>
<body>
<section class="header" id="header">
    <?= $this->render($this->macros('menu', 'draw', array('main_menu')), 'modules/menu/draw/default') ?>
</section>
<section class="erorr">
    <div class="container">
        <h3 class="offer-title">
            Простите, но
        </h3>
        <div class="row">
            <div class="col">
                <p class="error__text">
                    Доступ к этой странице запрещен.<br>
                    Обратитесь к администратору сайта.<br>
                    <a href="#">Контактная информация</a>
                </p>
            </div>
        </div>
    </div>
</section>
<?= $this->render($variables, 'assets/footer'); ?>
<!-- Main JS -->
<script src="<?= $templatePath; ?>js/jquery-3.3.1.min.js"></script>
<script src="<?= $templatePath; ?>js/slick.min.js"></script>
<!-- Валидатор для проверки формы на заполненность  -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="<?= $templatePath; ?>js/main.js"></script>
</body>
</html>
