<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

$page = isset($variables['full:page']) ? $variables['full:page'] : false;

?>

<?= $page->getValue('sekciya_partnery') ?>
<!--<section class="partners" id="partners">-->
<!--    <div class="container">-->
<!--        --><?//= $this->render($this->macros('photoalbum', 'album', array('partners/pokupayut-u-nas')), 'modules/photoalbum/album/partnersPhoto') ?>
<!--        --><?//= $this->render($this->macros('photoalbum', 'album', array('partners/proizvodyat-pod-sobstvennym-brendom/')), 'modules/photoalbum/album/partnersPhoto') ?>
<!--    </div>-->
<!--</section>-->
<?= $this->render($this->macros('webforms', 'add', array($page->getValue('form_id'))), 'modules/webforms/add/partners') ?>

