<?php
    /** @var umiTemplaterPHP $this */
    /** @var array $variables */

    $page = isset($variables['full:page']) ? $variables['full:page'] : false;

?>
<!--dfdf-->
<section class="paragraphs" id="paragraphs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="paragraphs paragraphs-vacancies record-title_partners">
                    <?= $page->getValue('title'); ?>
                </h3>
            </div>
        </div>
        <?= $this->render($this->macros('content', 'getList', array('default', $page->getId())), 'modules/content/getList/vacancies') ?>
    </div>
</section>

<?= $this->render($this->macros('webforms', 'add', array($page->getValue('form_id'))), 'modules/webforms/add/vacancies') ?>

